*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../images/Rectangle\ 31.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    background-color: #4B91F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
    border: 3px solid white;
}

.navbar_logo{
    display: flex;
    padding-right: 50px;
    align-items: center;
}

.navbar_logo .logo{
    width: 59px;
    height: 58px;
}

.navbar_logo .navbar_header{
    color: #fff;
    padding-left: 10px;
}

.navbar_list{
    list-style: none;
    display: flex;
}


.list_items:nth-child(1),
.list_items:nth-child(2),
.list_items:nth-child(3),
.list_items:nth-child(4) {
border-right: 2px solid #fff;
}

.navbar_list .list_items .links{
    display: block;
    color: #fff;
    padding: 1px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.main_container{
    background-color: #375FED;
    width: 550px;
    height: 550px;
    float: right;
    opacity: 0.8;
}

form{
    display: grid;
    justify-content: center;
    margin-left: 5px;
}

.text > h2{
    color: white;
    font-size: 40px;
    font-family: monospace;
    padding-top: 50px;
    margin-left: -130px;
    text-align: center;
}

.text > p{
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    margin-left: -90px;
}

.user_details > label{
    color: white;
    font-weight: bold;
    margin-left: 1px;
    line-height: 3.0;
    word-spacing: 2px;
}

label{
    color: white;
    font-weight: bold;
    margin-left: 1px;
    word-spacing: 5px;
    line-height: 1.0;
}

.input1{
    background-color: white;
    color: #375FED;
    border: 3px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    height: 45px;
    width: 90px;
    margin-left: 90px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

.input_area{
    border: 3px solid white;
    border-radius: 25px;
    height: 45px;
    margin-top: 80px;
    text-decoration: none;
    margin-top: 25px;
}

footer{
    background: linear-gradient(93.73deg, #3D63EC 0%, #2D57EE 100%);
    width: 100%;
    height: 73px;
    position: relative;
    top: 0;
    bottom: 0;
    margin-top: 500px;
}

footer .footer_item{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px 30px;
}

footer .footer_item a{
    color: #f8f8f8;
    text-decoration: none;
    font-size: 30px;
    margin-right: 25px;
}


